*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    margin-top: 12px;
    
}
.container{
    width: 1140px;
    margin: auto;
    
}
.all{
    display: flex;
    justify-content:space-between;
}
.logo img {
    width: 98px;
    

}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 86px;
    color: #1e266d;
    font-family: 'Open Sans', sans-serif;
    
}
.btn button{
    color: white;
    background-color:#2e367d;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: none;
    margin-top: 25px;
    font-size: 16px;
}
.btn button:hover{
    background-color: #00AEEF;
}
.banner{
    width: 100%;
}
.bcn{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.right img{
    width: 100%;
    height: auto;
}
.left h1{
    font-family: 'Open Sans', sans-serif;
    color: #1e266d;
    font-size:40px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.left p{
margin-bottom: 20px;
margin-top: 20px;
font-size: 22px;
color: #1e266d;
line-height: 26px;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
}
.left button{
    color: white;
    background-color: #1e266d;;
    padding: 13px 30px;
    border-radius: 8px;
    font-size: 16px;
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    font-weight: 300;
}
.left{
    margin-top: 85px;
}

.left button:hover{
    background-color: #00AEEF;
}
.banner2 .left{
    flex-basis: 50%;
}
.banner2 .right{
    flex-basis: 50%;
}
.banner2 .left h1{
    color: #07324f;;
}
.banner2 .left p{
    color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
}

